<%- include("header") -%>

<div class="container">
  <div class="blur"></div>
  <div class="content">Be someone's sunshine when their skies are grey.
      <button type="button" class="btn btn-secondary btn-lg download-button" onclick="onButtonClick()"></i>Donate</button>
</div>

</div>

<%- include("footer") -%>
